{% extends "base.html" %}

{% block content %}

<style>
    .container {
        width: 50%;
        margin: auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #f9f9f9;
    }


    form {
        display: flex;
        flex-direction: column;
    }

    label {
        font-weight: bold;
        margin-bottom: 5px;
    }

    input[type="file"],
    input[type="text"],
    textarea {
        margin-bottom: 10px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    button[type="submit"] {
        padding: 10px 20px;
        background-color: #4caf50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button[type="submit"]:hover {
        background-color: #45a049;
    }

    .tag-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 3px;
    }

    .tag {
        margin-right: 10px; /* Додатковий відступ між тегами */
        display: inline-block;
        padding: 1px 10px;
        background-color: #f0f0f0;
        border-radius: 10px;
        margin-right: 10px;
        border: 2px solid #333;
    }

    .photo img {
        width: 100%; /* Заповнює контейнер */
        height: auto; /* Автоматична висота для збереження пропорцій */
    }

    .photo {
        margin-top: 10px;
    }

    .button {
        display: inline-block;
        padding: 3px 10px;
        background-color: #f0f0f0;
        border-radius: 15px;
        border: 2px solid #333;
    }
    .user {
        margin-top: 10px;
        display: inline-block;
        padding: 3px 10px;
        background-color: #f0f0f0;
        border-radius: 15px;
        border: 2px solid #333;
        margin-bottom: 20px
    }

    .photo-gallery {
        margin-top: 10px;
        width: 70%; /* Заповнює контейнер */
        display: inline-block;
        padding: 3px 10px;
        background-color: #f0f0f0;
        border-radius: 1;
        border: 2px solid #333;
        margin-bottom: 20px;
    }
</style>
<div class="photo-gallery">
    <div class="user" style="display: flex; justify-content: space-between;">
        <div>
            <img src="{{ user.avatar }}" alt="Avatar" width="25" height="25">
            <a href="http://localhost:8000/">{{ user.username }}</a>
        </div>
    </div>
    <div class="photo">
        <img src="{{ photo.photo }}" alt="{{ photo.description }}" width="600" height="300">
    </div>
    {% if photo.description is not none %}
    <p>{{ photo.description }}</p>
    {% endif %}
    <div class="tag-container">
        {% for tag in photo.tags %}
        <p class="tag">{{ tag.name }}</p>
        {% endfor %}
    </div>
    <div class="container">
        <form id="deleteForm" enctype="multipart/form-data">
            <button type="button" onclick="deletePhoto()">Видалити</button>
        </form>
    </div>
</div>



<script>
    function deletePhoto() {
        var form = document.getElementById('deleteForm');
        var formData = new FormData(form);

        var xhr = new XMLHttpRequest();
        xhr.open('DELETE', 'http://localhost:8000/api/photo/{{ photo.id }}', true);
        xhr.onload = function () {
            if (xhr.status >= 200 && xhr.status < 300) {
                // Обробляємо успішну відповідь
                console.log('Success:', xhr.responseText);
                // Редірект на іншу сторінку після успішного оновлення
                window.location.href = 'http://localhost:8000/';
            } else {
                // Обробляємо помилку
                console.error('Error:', xhr.statusText);
            }
        };
        xhr.onerror = function () {
            // Обробляємо помилку
            console.error('Error:', xhr.statusText);
        };
        xhr.send(formData);
    }
</script>

{% endblock %}