{% extends 'quotes/base.html' %}
{% load extract %}

{% block content %}



<div class="row">
    <div class="col-md-8">
        <h3>Viewing tag: <a href="/tag/{{tags_search}}">{{tags_search}}</a></h3>
        {% for quote in quotes %}
        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">{{quote.quote}}</span>
            <span>by <small class="author" itemprop="author">{{quote.author.fullname}}</small>
        <a href="/author/{{quote.author.id}}">(about)</a>
        
        {% if user.is_authenticated %}
        <a href="{{quote.goodreads_page}}">Goodreads page</a>
        {% endif %}
        
        </span>
        <div class="tags">
            Tags:
            {% for tag in quote.tags %}
            <a class="tag" href="/tag/{{tag}}">{{tag}}</a>
            {% endfor %}
            
        </div>
    </div>
    {% endfor %}
    <nav>
        <ul class="pager">
            <li class="previous">
                <a class="{% if not quotes.has_previous %} disabled {% endif %}" 
                href="{% if quotes.has_previous %} {% url 'quotes:root_paginate' quotes.previous_page_number %} {% else %} # {% endif %}">
                <span aria-hidden="true">←</span> Previous</a>
            </li> 
            
            <li class="next">
                <a class="{% if not quotes.has_next %} disabled {% endif %}" 
                href="{% if quotes.has_next %} {% url 'quotes:root_paginate' quotes.next_page_number %} {% else %} # {% endif %}">
                Next <span aria-hidden="true">→</span></a>
            </li>
            
        </ul>
    </nav>
    </div>
   <div class="col-md-4 tags-box">
            <h2>Top Ten tags</h2>
            {% for tag in quotes.quote.tags|tags %}
            <span class="tag-item">
            <a class="tag" style="font-size: 28px" href="/tag/{{ tag.name }}/">{{tag.name}}</a>
            </span>       
            {% endfor %}
    </div>
</div>

{% endblock %}